<!-- Code van Rick -->
<ul class=filter>
    <li><a href="/list">Alles</a></li>
    <li><a href="/achttien">18+</a></li>
    <li><a href="/cats">Houd van katten</a></li>
    <li><a href="/vrouw">Vrouwen</a></li>
    <li><a href="/man">Mannen</a></li>
  </ul>