<!-- Code van Rick -->
<%- include('partials/head'); -%>
<%- include('partials/nav'); -%>
<title>Not found</title>
<body class="body-filteren">
<main id="not-found">
<h1 id="h1-not-found">Not found</h1>
<p>Uh oh! We couldn’t find this page!</p>    
</main>

<%- include('partials/footer'); -%>