<%- include('partials/head'); -%>

<title>Gegevens</title>

<body>
    <header>
        <section>
            <h1>Jouw profiel</h1>
            <img src="img/profielfoto.jpg" alt="profiel foto" id="profielfoto">

            <h2><%= username%></h2>

            <button type="button" name="button" class="volgende">Zoek andere singels</button>
        </section>
    </header>
<%- include('partials/footer'); -%>