<%- include('partials/head'); -%>

<title>Gegevens</title>

<body>
    <main class="main">
        <img src="img/logo.png" alt="logo" id="logo">

        <p id="welkomstekst">Als je op 'Registreer' klikt, ga je akkoord met onze voorwaarden. Link is een datingapp om snel en makkelijk een nieuwe date te vinden. </p>

        <a href="/aanmelden"><button class="home" type="button">Registreer</button></a>
        <a href="/inloggen"><button class="home" type="button">Login</button></a>
    
    </main>
<%- include('partials/footer'); -%>