<%- include('partials/head'); -%>

<title>DatingChat</title>

  <body>
    <h1 id="usr"> </h1>
    <div id="chat">
        <div id="chat-scherm">
            <div id="tekst"></div>
            <div id="feedback"></div>
        </div>
        <input type="text" id="bericht" placeholder="bericht">
        <button id="send"> verstuur</button>
    </div>

    <script src="js/styles.js"></script>
<%- include('partials/footer'); -%>