<%- include('partials/head'); -%>

<title>Gegevens</title>


<body id="aanmelden">

    <form action="aanmelden" id="registration" enctype="multipart/form-data" method="POST">
        <h1 class="register">Registreren</h1>

        <label for="voornaam">Naam</label>
        <input type="text" name='naam' id="voornaam" placeholder='John Konings' required>
        <br>
        <label for="email">Email</label>
        <input type="email" name="email" id='email' minlength="6 " maxlength="60 " placeholder="naam@hotmail.com "
            required>
        <br>
        <label for='wachtwoord'>Wachtwoord</label>
        <input type="password" id='password' name="wachtwoord" minlength="8 " placeholder="Minimaal 8 tekens " required>
        <br>
        <label for='geslacht'>Ik ben een:</label>
        <div class="geslacht">
            <input type="radio" id="Man" name="geslacht" value="Man">
            <label for="Man">Man</label><br>

            <input type="radio" id="Vrouw" name="geslacht" value="Vrouw">
            <label for="Vrouw">Vrouw</label><br>

            <input type="radio" id="Anders" name="geslacht" value="Anders">
            <label for="Anders">Anders</label><br>
        </div>
        <br>
        <label for="dier">Liefelingsdier</label>
        <input type="text" name='dier' id="dier" placeholder='kat' required>
        <br>
        <label for='geslacht'>Wat zoek je:</label>

        <div class="geslacht">
            <input type="radio" id="man" name="gezocht" value="man">
            <label for="man">Man</label><br>

            <input type="radio" id="vrouw" name="gezocht" value="vrouw">
            <label for="vrouw">Vrouw</label><br>

            <input type="radio" id="beide" name="gezocht" value="beide">
            <label for="beide">Beide</label><br>
        </div>
        <br>
        <label for="geboortedatum ">Geboortedatum</label>
        <input type="date" name="geboortedatum" id='datum' required>
        <br>
        <label for='hobby'>Hobby's</label>
        <input type="text" name="hobby" placeholder="B.v dansen, tekenen" required>
        <br>
        <label>Voeg afbeelding toe:</label>
        <label for="file"><img id="afbeelding-toevoegen" src="/img/afbeelding.png" alt="profiel foto"></label>
        <input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;">
        <br>

        <input type="submit" class="submit" value="Registreren">
        <a id="al-een-account" href="/inloggen">Klik hier als je al een account hebt</a>
    </form>

<%- include('partials/footer'); -%>