<%- include('partials/head'); -%>

<title>Gegevens</title>


<body>
    <main class="main">
        <img src="img/logo.png" alt="logo" id="logo">

        <p id="welkomstekst">Helaas is het niet gelukt om in te loggen, het wachtwoord matcht niet met het emailadres. Probeer het nog eens! </p>

        <a href="/welkom">Probeer het nog eens</a>
    
    </main>
<%- include('partials/footer'); -%>