<%- include('partials/head'); -%>

<title>Gegevens</title>

<body>
    <main class="main">
        <img src="img/logo.png" alt="logo" id="logo">

        <p id="welkomstekst">Helaas is het niet gelukt om in te loggen, wij hebben geen account gevonden met hetzelfde emailadres. Probeer het nog eens of registreer je! </p>

        <a href="/inloggen"><button class="home" type="button">Login</button></a>

        <p id='tekst-link'>Heb je nog geen account? <a id="link" href="/aanmelden">Registreer</a></p>
    
    </main>
<%- include('partials/footer'); -%>